<html>
<body>

{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>


<form action="/addtodos" method="post">
    <input type="text" placeholder="Task Text" name="todotext"/>
    <select name="isDone">
        <option selected disabled>Is the task completed?</option>
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <button type="submit">Add Item</button>

</form>

<ol>
    {{#todos}}
    <li>{{todotext}} {{isDone}}
        <a href="/delete?todoID={{id}}">remove</a></li>
        {{/todos}}
</ol>

{{/user}}
</body>
</html>